# LETS DO IT BOYSSSSSS

In [1]:
import gzip
import json
import random
import numpy as np
import pandas as pd

In [2]:
def reading_gz(filename):
    f = gzip.open(filename, 'rt', encoding="utf8")
    lines = []
    for line in f:
        liness = json.loads(line.strip())
        lines.append(liness)
    return lines

In [3]:
data_modcloth = reading_gz('modcloth_final_data.json.gz')
data_renttherunway = reading_gz('renttherunway_final_data.json.gz')

The data_modcloth has 82790 data and the data_renttherunway has 192544 items

In [4]:
len(data_modcloth),len(data_renttherunway)

(82790, 192544)

In [5]:
data_tb = pd.DataFrame(data_renttherunway)

In [6]:
data_tb

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017"

#  data_renttherunway

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy
import urllib
import scipy.optimize
import random
from collections import defaultdict # Dictionaries with default values
import nltk
import string
from nltk.stem.porter import *
from sklearn import linear_model
import ast
import numpy as np

In [8]:
np.random.shuffle(data_renttherunway)

In [9]:
num_90th = int(len(data_renttherunway)*0.9)
num_90th

173289

In [10]:
train_set = data_renttherunway[0:num_90th]
validation_set = data_renttherunway[num_90th:]

## updating the category

In [11]:
categorys= np.unique([w['category'] for w in data_renttherunway])
categoryId = dict(zip(categorys, 
                  range(len(categorys))))

In [12]:
categorys

array(['ballgown', 'blazer', 'blouse', 'blouson', 'bomber', 'buttondown',
       'caftan', 'cami', 'cape', 'cardigan', 'coat', 'combo', 'crewneck',
       'culotte', 'culottes', 'down', 'dress', 'duster', 'for', 'frock',
       'gown', 'henley', 'hoodie', 'jacket', 'jeans', 'jogger',
       'jumpsuit', 'kaftan', 'kimono', 'knit', 'legging', 'leggings',
       'maxi', 'midi', 'mini', 'overalls', 'overcoat', 'pant', 'pants',
       'parka', 'peacoat', 'poncho', 'print', 'pullover', 'romper',
       'sheath', 'shift', 'shirt', 'shirtdress', 'skirt', 'skirts',
       'skort', 'suit', 'sweater', 'sweatershirt', 'sweatpants',
       'sweatshirt', 't-shirt', 'tank', 'tee', 'tight', 'top', 'trench',
       'trouser', 'trousers', 'tunic', 'turtleneck', 'vest'], dtype='<U12')

There are some repeated meaning category, so we need to stem the category

In [13]:
stemmer = PorterStemmer()

In [14]:
category_stem= np.unique([stemmer.stem(w['category'])for w in data_renttherunway])
categorystemId = dict(zip(categorys, 
                  range(len(categorys))))

In [15]:
category_stem

array(['ballgown', 'blazer', 'blous', 'blouson', 'bomber', 'buttondown',
       'caftan', 'cami', 'cape', 'cardigan', 'coat', 'combo', 'crewneck',
       'culott', 'down', 'dress', 'duster', 'for', 'frock', 'gown',
       'henley', 'hoodi', 'jacket', 'jean', 'jogger', 'jumpsuit',
       'kaftan', 'kimono', 'knit', 'leg', 'maxi', 'midi', 'mini',
       'overal', 'overcoat', 'pant', 'parka', 'peacoat', 'poncho',
       'print', 'pullov', 'romper', 'sheath', 'shift', 'shirt',
       'shirtdress', 'skirt', 'skort', 'suit', 'sweater', 'sweatershirt',
       'sweatpant', 'sweatshirt', 't-shirt', 'tank', 'tee', 'tight',
       'top', 'trench', 'trouser', 'tunic', 'turtleneck', 'vest'],
      dtype='<U12')

In [16]:
def category_identity (category):
    category = stemmer.stem(category)
    poncho = ['poncho','crewneck','cape']
    coat = ['coat','peacoat','overcoat','suit','blazer','bomber','jacket','parka','tunic']
    tshirt = ['t-shirt','tee','shirt','shift','shirtdress','skirt','skort','top','vest','blous','blous','blouson','cami','mini']
    sweater = ['sweater','sweatershirt','sweatshirt','caftan','cardigan','henley','hoodi','midi','pullov','blou']
    culott = ['culott','frock','jumpsuit','ballgown','buttondown','combo','dress','gown','kaftan',
              'kimono','maxi','romper','sheath','turtleneck']
    overal = ['overal','duster','knit','print','tank','trench','for','over']
    down = ['down','jean','jogger','leg','pant','sweatpant','tight','trouser',]
    if category in poncho:
        return 'poncho'
    if category in coat:
        return 'coat'
    if category in tshirt:
        return 'tshirt'
    if category in sweater:
        return 'sweater'
    if category in culott:
        return 'culott'
    if category in overal:
        return 'overal' 
    if category in down:
        return 'down' 
    return category

In [17]:
data_tb['catgory'] = data_tb.category.apply(category_identity)

In [18]:
np.unique(([category_identity(d) for d in category_stem]))

array(['coat', 'culott', 'down', 'overal', 'poncho', 'sweater', 'tshirt'],
      dtype='<U7')

In [19]:
data_tb

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,catgory
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016",culott
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013",culott
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015",culott
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014",culott
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016",culott
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016",culott
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016",culott
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016",culott
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015",culott
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017",culott

## update the weight

In [20]:
data_tb['size'].mean()

12.245175128801728

In [21]:
#convert to weight to float then minus the average of weight
def convert_weight(strin):
    if isinstance(strin, str):
        return (float(strin.strip('lbs')) -137) *0.4535
    else:
        return (float(strin) - 137) *0.4535
    
#convert to height to cm then minus the average of height
def convert_height(strin):
    if isinstance(strin, str):
        #print(strin)
        fet, inc = strin.split()
        fet = float(fet.strip("'").strip('"'))
        inc = float(inc.strip("'").strip('"'))
        return (fet * 30.48+ inc * 2.54) - 165.89

def normalize_the_size(strin):
    return strin - 12.245175128801728
#fillna with the average - average, which is 0
data_tb.weight = data_tb.weight.apply(convert_weight).fillna(0)
data_tb.height = data_tb.height.apply(convert_height).fillna(0)

#change the size to float
data_tb['size'] = data_tb['size'].astype(float).apply(normalize_the_size)

In [22]:
data_tb.height.apply(convert_height).fillna(0).std()

0.0

In [23]:
data_tb.weight.apply(convert_weight).fillna(0).std()

4.138597338886754

In [24]:
data_tb['size'].astype(float).apply(normalize_the_size).std()

8.494876687221945

since we think the height people tend to have a higher weight and bigger size of dress, so we add those three value together.

In [125]:
data_tb['size_guess_fit'] = data_tb['weight'] + data_tb['height'] + data_tb['size']

Now we try to fix the bust size. We decide to spilt it into two column, which is using the number as one and use the character following as the other. Moreover, we fillna with the 34 dd as I google search the average women's bust size in US.

In [33]:
data_tb['bust size'] = data_tb['bust size'].fillna('34dd')

In [40]:
def get_bust_num (data):
    return int(data[:2])
def get_bust_character(data):
    return data[2:]

In [42]:
data_tb['bust_num'] = data_tb['bust size'].apply(get_bust_num)
data_tb['bust_char'] = data_tb['bust size'].apply(get_bust_character)

In [45]:
data_tb

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,catgory,bust_num,bust_char
0,fit,420272,34d,2260466,0.0000,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,6.83,1.754825,28,"April 20, 2016",culott,34,d
1,fit,273551,34b,153475,-2.2675,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,1.75,-0.245175,36,"June 18, 2013",culott,34,b
2,fit,360448,34dd,1063761,0.0000,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,-3.33,-8.245175,116,"December 14, 2015",culott,34,dd
3,fit,909926,34c,126335,-0.9070,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,-0.79,-4.245175,34,"February 12, 2014",culott,34,c
4,fit,151944,34b,616682,3.6280,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,9.37,-0.245175,27,"September 26, 2016",culott,34,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,1.3605,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,9.37,-4.245175,42,"May 18, 2016",culott,34,dd
192540,fit,118398,32c,682043,-16.7795,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,-10.95,-8.245175,29,"September 30, 2016",culott,32,c
192541,fit,47002,36a,683251,-0.9070,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,6.83,-4.245175,31,"March 4, 2016",culott,36,a
192542,fit,961120,36c,126335,12.6980,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,1.75,3.754825,31,"November 25, 2015",culott,36,c
192543,fit,123612,36b,127865,8.1630,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,1.75,3.754825,30,"August 29, 2017",culott,36,b

In [38]:
cv = TfidfVectorizer(stop_words = 'english',ngram_range=(1,1),sublinear_tf = True)
x_text_train = [d['review_text'] for d in train_set]
x_train_cv = cv.fit_transform(x_text_train)

In [39]:
x_train_cv

<173289x26893 sparse matrix of type '<class 'numpy.float64'>'
	with 3919507 stored elements in Compressed Sparse Row format>

Moreover, there is still has some repeated categories such as t_shirt and tee, blous and blouson, sweater, sweatershirt and sweatshirt. Therefore, we need to clear the category type futher

In [120]:
x_text_train = [d['review_text'] for d in train_set]
y_text_train = [d['category'] for d in train_set]
x_text_test = [d['review_text'] for d in validation_set]
y_text_test = [d['category'] for d in validation_set]